@use "../App.scss" as *;

.nav_cont {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.nav_content {
  padding: 20px 36px 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #3ebfff;
}
.nav_child {
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.nav_content {
  position: relative;
}
.hamburger {
  position: relative;
  left: 50%;
  top: -150vh;
  transform: translateX(-49%);
  width: 75vw;
  height: 50vh;
  background-color: white;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    border-bottom: 25px solid white;
    border-left: 25px solid transparent;
  }
}
.ham_open {
  left: 50%;
  top: 50px;
}
.ham_link {
  color: $Darkgrayishblue;
  cursor: pointer;
}
.des_nav_links {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    padding: 15px 30px;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    &:hover {
      cursor: pointer;
      background-color: #6fcfff;
    }
  }
}
